Install necessary packages

In [15]:
pip install pandas
pip install pandas-profiling[notebook]

Requirement already satisfied: pandas in c:\users\eddym\miniconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\users\eddym\miniconda3\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\eddym\miniconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\eddym\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\eddym\miniconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import numpy as np
import pandas as pd
import pandas_profiling

Read the compiled data file - WSIB_data.csv

In [13]:
data = pd.read_csv('WSIB_data.csv')

In [18]:
data.head(5)

      Industry AgeRange Gender  Year  NLT_Claims  LT_Claims  F_Claims
0  Agriculture    20-24   Male  2011         218        122         0
1  Agriculture    20-24   Male  2012         224        152         2
2  Agriculture    20-24   Male  2013         270        162         0
3  Agriculture    20-24   Male  2014         261        181         0
4  Agriculture    20-24   Male  2015         282        186         0

Remove column 1 --> "Unnamed: 0"

In [17]:
del data["Unnamed: 0"]

In [19]:
data.describe

<bound method NDFrame.describe of             Industry AgeRange Gender  Year  NLT_Claims  LT_Claims  F_Claims
0        Agriculture    20-24   Male  2011         218        122         0
1        Agriculture    20-24   Male  2012         224        152         2
2        Agriculture    20-24   Male  2013         270        162         0
3        Agriculture    20-24   Male  2014         261        181         0
4        Agriculture    20-24   Male  2015         282        186         0
...              ...      ...    ...   ...         ...        ...       ...
1039  Transportation      65+   Male  2015         296        122         1
1040  Transportation      65+   Male  2016         328        160         2
1041  Transportation      65+   Male  2017         381        160         2
1042  Transportation      65+   Male  2018         405        182         1
1043  Transportation      65+   Male  2019         419        233         1

[1044 rows x 7 columns]>

In [10]:
from pandas_profiling import ProfileReport

In [20]:
report = ProfileReport(data, title="WSIB claims")

In [21]:
report.to_file("WSIB_Profile_Report.html")

Summarize dataset: 100%|██████████| 36/36 [00:05<00:00,  6.70it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.83s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.42it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 150.88it/s]